//style pour le titre du site
.site-title{
    font-family:$font__sitetitle;
    font-size: clamp(2rem, #{"-0.875rem + 8.333vw"}, 4rem);
    font-weight: bold;
    margin-bottom: 0;
    a{
    text-decoration: none;
    }
    //style desc su site
    }.site-description{
        font-family: $font__sitetitle;
        font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 3.5rem);
        font-weight: normal;
        color: $color__linksite-title;
        margin-top: 0;
    }
    
    
    
    .page-header{
        margin-top: 130px;
        display: flex;
        justify-content: center;
    
        .page-title{
           
            display: none;
            // font-size: 4rem;
            //color: blue;
        }
    
        .archive-description{
          
             font-size: 2rem;
            color: #66fcf1;
           
        }
    }

    //ajustement des widgets avec la page dans les articles
    #primary
    {

        margin-top: 10vh;
        article
        {
            .entry-header
            {
                @include tablet{
                    width: 80%;
                }
               
            }
    
            .entry-content
            {
                @include tablet{
                    width: 80%;
                }
                text-align: justify;
            }
    
            .entry-footer{
                @include tablet{
                    width: 80%;
                }
            }
        }
        .navigation
        {
            @include tablet{
                width: 80%;
            }
        }

        #comments
        {
            @include tablet{
                width: 80%;
            }
        }

        //section article --> comment section
        #comment
        {
            background-color: #1f2833;
        }
        .form-submit
        {
           input{
               background-color: #1f2833;
               color:white;
           }
        }

   
    }

    
    