//styles widget de droit de la page
.widget-area
{
   display: none;
    @include tablet{
        margin-top: 10vh;
        background-color: #1f2833;
        color:white;
        margin-right: 2.1vw;
        padding-right: 2vw;
        padding-left: 2vw;
        display: block;
    }
}



